body{
    font-family: "メイリオ","Meiryo";
}

.header{
    background-color: #f6fcc5;
    height: 150px;
    width: 1920px;
}

*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #f6fcc5;
    height: 1000px;
    width: 1920px;
}

ul {
  display: flex;
}

h2{
  font-weight: bold;
}

button{
    width: 150em;
    height:50em;
}

.footer{
    background-color: #eaf188;
    height: 150px;
    width: 1920px;
}
